# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

base_url: "https://kitchensjn-develop.github.io/parallax-mountains-test"
name: "James Kitchens"
job_title: "Environmental Data Scientist & Creative Programmer"
social_links: 
  - {name: GitHub, icon: "fab fa-github", link: "https://github.com/kitchensjn"}
  - {name: LinkedIn, icon: "fab fa-linkedin", link: "https://www.linkedin.com/in/james-kitchens-668825b2/"}
  - {name: CV, icon: "fas fa-file-alt", link: "/assets/CV/KitchensJames_CV.pdf"}
location: "Pomona, California"
email: "kitchensjn@gmail.com"
phone: "(804) 572-3197"

sass:
  sass_dir: _sass
  style: compressed

collections:
  blog:
    output: true
  projects:

# Build settings
remote_theme: "kitchensjn/parallax-mountains"

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
